/*  your css code here. If applicable */
/*  your css code here. If applicable */
body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCZlf5lc5tX-0gY-y94pGS0mQdL-D0lCH2OQ&usqp=CAU);
}
#bands{
    width: 40%;
    background-color: white;
    margin: auto;
    
}
li{
    list-style: square;
    margin: 15px 0;
    text-align: left;
}
ul li:first-of-type{
    padding-top: 10px;
}
ul li:last-of-type{
    padding-bottom: 10px;
}